# Local environment
# MONGO_URI=mongodb://admin:password@localhost:27017/project-db?authSource=admin
# REDIS_URI=redis://localhost:6379
# REDIS_HOST=localhost
# REDIS_PORT=6379

# DATA_PROCESSOR_PORT=3001
# ANALYTICS_SERVICE_PORT=3002
# REPORT_SERVICE_PORT=50051

# PUBLIC_API_URL=https://rickandmortyapi.com/api/character
# DATA_PROCESSOR_API_URL=http://localhost:3001
# REPORT_SERVICE_URL=localhost:50051


# Docker environment
MONGO_URI=mongodb://admin:password@mongodb:27017/project-db?authSource=admin
REDIS_URI=redis://redis:6379
REDIS_HOST=redis
REDIS_PORT=6379

DATA_PROCESSOR_PORT=3001
ANALYTICS_SERVICE_PORT=3002
REPORT_SERVICE_PORT=50051

PUBLIC_API_URL=https://rickandmortyapi.com/api/character
DATA_PROCESSOR_API_URL=http://data-processor:3001
REPORT_SERVICE_URL=report-service:50051