MONGO_URI=mongodb://admin:password@localhost:27017/project-db?authSource=admin
REDIS_URI=redis://localhost:6379

DATA_PROCESSOR_PORT=3001
ANALYTICS_SERVICE_PORT=3002
REPORT_SERVICE_PORT=50051

PUBLIC_API_URL=https://rickandmortyapi.com/api/character